.ex-1-square:hover{
    transition: all 3s;
    background-color: red;
}


.ex-2-square:active{
    transition: all 3s;
    width: 1100px;
}


.ex-3-square:hover{
    transition: all 3s;
    border-radius: 50%;
}