
.ex-1-square:hover{
    transition: all 3s;
    background-color: red;
}


.ex-2-square:active{
    transition: all 3s;
    width: 1100px;
}


.ex-3-square:hover{
    transition: all 3s;
    border-radius: 50%;
}


.ex-4-square:hover{
    transition: all 3s;
    background-color: inherit;
}


.ex-5-square:hover{
    transition: all 3s;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.ex-5-square:active{
    transition: all 3s;
    width: 40px;
    height: 40px;
}


.ex-6-img:hover{
    filter: grayscale();
}


.ex-7-img:hover{
    transition: all 3s;
    filter: sepia(70%);
}



.ex-8-img:hover{
    transition: all 3s;
    filter: sepia(70%) saturate(70%);
    border-radius: 18px;
}

.ex-9-img:hover{
    transition: all 3s;
    filter: sepia(70%) saturate(70%);
    border-radius: 18px;
    transform: scale(1.5);
}



.ex-10-icon{
    animation-name: rotate;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
}


@keyframes rotate {

    100%{
        transform: rotate(360deg);
    }
}


.ex-11-icon:hover{
    animation-name: rotate2;
    animation-duration: 2s;
}

@keyframes rotate2 {
    75%{
        transform: rotate(270deg);
    }
}


.ex-12-button:hover .ex-12-top-white{
    animation-name: top;
    animation-duration: 2s;
}

@keyframes top {

    50%{
        top: -10px;
        left: 70%;
    }
}


.ex-12-button:hover .ex-12-bottom-white{
    animation-name: bottom;
    animation-duration: 2s;
}

@keyframes bottom {
    
    50%{
        bottom: -10px;
        right: 70%;
    }
}



.ex-13-button:hover .ex-13-top-white{
    animation-name: top13;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@keyframes top13 {

    20%{
        top: -10px;
        left: 80%;
    }
    40%{
        top: 60px;
        left: 80%;
    }
    60%{
        top: 60px;
        left: -10%;
    }
    80%{
        top: -10px;
        left: -10%;
    }
    100%{
        top: -10px;
        left: 10%;
    }
}


.ex-13-button:hover .ex-13-bottom-white{
    animation-name: bottom13;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@keyframes bottom13 {
    
    20%{
        bottom: -10px;
        right: 80%;
    }
    40%{
        bottom: 60px;
        right: 80%;
    }
    60%{
        bottom: 60px;
        right: -10%;
    }
    80%{
        bottom: -10px;
        right: -10%;
    }
    100%{
        bottom: -10px;
        right: 20%;
    }
}