
.ex-1-square:hover{
    transition: all 3s;
    background-color: red;
}


.ex-2-square:active{
    transition: all 3s;
    width: 1100px;
}


.ex-3-square:hover{
    transition: all 3s;
    border-radius: 50%;
}


.ex-4-square:hover{
    transition: all 3s;
    background-color: inherit;
}


.ex-5-square:hover{
    transition: all 3s;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.ex-5-square:active{
    transition: all 3s;
    width: 40px;
    height: 40px;
}


.ex-6-img:hover{
    filter: grayscale();
}


.ex-7-img:hover{
    transition: all 3s;
    filter: sepia(70%);
}



.ex-8-img:hover{
    transition: all 3s;
    filter: sepia(70%) saturate(70%);
    border-radius: 18px;
}

.ex-9-img:hover{
    transition: all 3s;
    filter: sepia(70%) saturate(70%);
    border-radius: 18px;
    transform: scale(1.5);
}